Definition: verify by using a duplicate register for comparison
Example: control an account
Synonyms: noun, person, controller, cognition, communication, archaism, u, check, verify, by, using, a, duplicate, register, for, comparison, an, account
Frame: 8
Category: verb.cognition
